h1, h2, h3, h4 {
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-size: 3em;
}

body {
  font-family: 'Lexend Mega', sans-serif;
  margin: 0;
  padding-bottom: 50px;
}

.container {
  width: 70vw;
  margin: 50px auto;
}

@media(max-width: 650px) {
  .container {
    width: 85vw;
  }
}

.banner {
  min-height: 400px;
  margin: 0;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
}

.banner p {
  font-family: 'Satisfy', cursive;
  font-size: 2em;
  margin: 0 50px;
}

p {
  text-align: justify;
  line-height: 1.7;
}

a {
  text-decoration: none;
  font-family: 'Satisfy', cursive;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin: 30px;
}

a:hover {
  color: rgba(0, 0, 0, 0.7);
}










